

<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
<style>
body {

background-color: #E6E6FA
}
</style>
</head>
<body>



</body>
</html>










<center>
<br>

<font size="14" face="Merriweather" color="#bcbcf2"><h1>Project Support:</h1></font>
<hr style="height:.1px; visibility:hidden;" />
<font size="10" face="Merriweather" color="#a6a6ed"><b>Puerto Rico</b></font>
<hr>
<br>
<iframe width="752" height="480" src="https://www.youtube.com/embed/1Lf_wMrBfRQ?rel=0&amp;controls=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
<font size="14" face="Merriweather" color="#bcbcf2"><h2>Find out how to help below</h2></font>
<font size="14" face="Merriweather" color="#bcbcf2"><h4>The island of Puerto Rico was recently devasted by a hurricane that has left most of the island in shambles. An island which previously had over 60 operating hospitals has been left with only one still left functioning. Most of the islanders have been left without basic necessities. This includes power and running water. Additionaly, most have lost their homes due to the severity of the damage. Many lives have been lost but even more have mobilized to hel[ in the relief efforts. </h2></font>

<br>
<br>

</center>
