

<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-image: url("http://www.millionglitters.com/background/flowers/flowers-pattern-026.gif");
}
</style>
</head>
<body>


</body>
</html>











<center>
<br>
<br>
<br>

<font size="10" face="lato" color="red"><h1>Puerto Rico Support Web</h1></font>
<hr>

<h2>Find out how to help below</h2>
<br>
<br>

</center>
