

<h1>Edit your Organization!</h1>

<%= render 'form', organization: @organization %>

<%= link_to 'Back to All Organizations', organizations_path %>
<%= link_to 'My Organization', organization_path(@organization) %>
