<hr>
<h1>Organization Page</h1>
<hr>
<h4>Select an organization to view its profile.</h4>
<hr>

<% @organizations.each do |organization|%>
  <br>
  <button class="ui inverted red button", size="massive" ><%= link_to organization.name, organization_path(organization) %></button>
<%end %>

<br>
