<p>
  <strong>Organization Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @organization.website %>
</p>

<p>
  <strong>Information:</strong>
  <%= @organization.info %>
</p>
